<h1><%= @user.full_name %>'s Profile!</h1>
<% if user_signed_in? %>
<%= link_to "Add to network", new_user_friendship_path(friend_id: @user) %>
<% end %>
<hr>
<div>Email: <%= @user.email %></div>
<div>About me: <%= @user.about_me %></div>
<div>Hobbies: <%= @user.hobbies %></div>
<div>country: <%= @user.country %></div>
<div>gender: <%= @user.gender %></div>