<h1><%= @user.full_name %>'s Profile!</h1>
<div><%= @user.email %></div>
<div>About me: <%= @user.about_me %></div>
<div>Hobbies: <%= @user.hobbies %></div>
<div>country: <%= @user.country %></div>
<div>gender: <%= @user.gender %></div>

