<% if user_signed_in? %>
<div class='navbar'>
<nav class="top-bar" data-topbar>
	<section class="top-bar-section text-center">
		<ul class="">
			<li class="small-1"><%= link_to(root_path) do %>Home<% end %></li>
			<li class="small-1 has-dropdown"><a href="#">Profile</a>
				<ul class="dropdown">
          <li><%= link_to "View All", users_path %></li>
          <li><%= link_to "Your Profile", user_path(current_user) %></li>
          <li><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
        </ul>
			</li>
			<li class="small-1"><a href="#">Projects</a></li>
			<li class="small-1"><a href="#">Stories</a></li>
			<li class="small-1"><a href="#">Forums</a></li>
			<li class="small-1"><a href="#">Events</a></li>
			<li class="small-4 has-form">
			  <div class="row collapse">
			    <div class="small-8 columns">
			      <input class="radius" type="text" placeholder="&#x2315 Find Stuff">
			    </div>
			    <div class="small-4 columns">
	      		<a href="#" class="secondary button radius expand">Search</a>
	    		</div>
			  </div>
			</li>
			<li class="small-1"><a href="#" class="menu-icon">&#9776</a></li>
			<li class="small-1 has-dropdown"><a href="#">&#9881</a>
				<ul class="dropdown">
					
					<li><%= link_to "Account Settings", edit_user_registration_path(current_user) %></li>
				</ul>
			</li>
		</ul>
	</section>
</nav>
</div>
<% end %>